  <main>
    {{#if isLogin}}
    <h2 style="text-align: center; margin-top: 20px; font-size: 14px;">
      ¡Bienvenido {{user.firstName}} {{user.lastName}}!      
    </h2>
    {{/if}}
    <section class="productsTitlePage">
      <h1>Productos</h1>
    </section>
    <section class="productsContainer">
      {{#each payload}}
        <article class="productCard">
          <img class="productImg" src="{{this.thumbnails}}" />
          <h3 class="productCategory">{{this.category}}</h3>
          <h3 class="productTitle">{{this.title}}</h3>
          <section class="cardSection">
            <h3 class="productPrice">${{this.price}}</h3>
            <button class="productButton" onclick="addToCart( '{{this.id}}', '{{this.user.cartId}}', '{{this.token}}')">Add to cart 🛒</button>
          </section>
        </article>
      {{/each}}
    </section>
  </main>
  <section class="productsPaginate">
    <a href="{{prevLink}}" class="paginateLeftArrow">Anterior</a>
    <div class="paginateIndexContainer">
      {{resPage}}
    </div>
    <a href="{{nextLink}}" class="paginateRightArrow">Siguiente</a>
  </section>

